<h1> Sign In </h1>



<form action="/login" method="post">
    <label for="email">Email Address</label>
    <input id="email" name="email" type="email"/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>
   <input type="submit" value="Sign In" name="submit"/>
</form>