<head>
  <meta charset="utf-8">
  <title>MakersBnb - Team 3</title>
<link href=" <%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<div class = "login_page">
<h1> Sign In </h1>

<form action="/login" method="post">
    <label for="email">Email Address</label>
    <input id="email" name="email" type="email"/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>
   <input type="submit" value="Sign In" name="submit" class = "button"/>
</form>
</div>