<head>
  <meta charset="utf-8">
  <title>MakersBnb - Team 3</title>
<link href=" <%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<div class = "view_listings_page">

<form action="/add-listing" method="get">
      <input type="submit" value="Add Space" name="add_space" class = "button"/>
        </form>

<% @spaces.each do |row| %>
    <%   row.each do |key, value| %>
      <%  if key != 'id' %>
       <%= value %> 
      <%  end %>
     <% end %>
    <br> <br>
    <% end %>
    </div>
